.button {
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
  background: #007bff;
  color: white;
  padding: 0.8rem 1.2rem;
  width: 100%;
  transition: 0.2s;
}

.button:hover:not(.disabled) {
  background: #0056b3;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
  background: #6c757d;
}
