.squares {
    height: 2rem;
    width: 12%;
    background-color: var(--cor-vermelha);
    border-radius: 5px;
    padding: 10px;
}
.container {
    display: flex;
    gap: 20px;
}

@media (max-width: 600px) {
    .squares {
        width: 30%;
    }
}